{% extends "base.html" %} {% set active_page = "Dashboard" %} {% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}" />
<div style='margin-top: 10px; text-align: center;'>
    <h3>Rental Properties by City</h3>
    <div class="container">
        <p style="font-weight: 400; font-size: 8sp;"> </p>
    </div>
    

    <div id='plotCityByPrice'></div>

    <div class="row" style='width:100%;'>
        <div class="col-md-12">
            <div style='margin-top: 10px; text-align: center;'></div>
            <h3>Airbnb rental properties by rental types, city and region</h3>
            <div class="container">
                <p style="font-weight: 400; font-size: 8sp;"> 
                  </p>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col border">
            </br>
            <div id="plotRentalTypeCount">
            </div>
        </div>
        <div class="col border">
            </br>
            <div id="getRentalPropertiesCountByCity">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col border">
            </br>
            <canvas id="chart4">
            </canvas>
        </div>
        <div class="col border">
            </br>
            <canvas id="chart5">
            </canvas>
        </div>
    </div>

    <hr>

</div>
<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}