{% extends "base.html" %} {% set active_page = "Dashboard" %} {% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}" />
<div style='margin-top: 30px; text-align: center;'>
    <h1>Dashboard</h1>
    <!-- <select onchange='dropdownChanged(this.value);'>
        <option value='1'>Alaska</option>
        <option value='0'>Alabama</option>
    </select> -->

    <!-- <div style='margin-top: 30px; text-align: left;'></div>
    <h2>Total number of Airbnb Properties by State/City </h2>
    <div style='margin-top: 30px; text-align: center;'></div>
    <h2>Price of Airbnb Properties by State/City </h2>
    <div style='margin-top: 30px; text-align: right;'></div>
    <h2>Availability of Airbnb Properties by State/City </h2>
    <div style='margin-top: 30px; text-align: left;'></div> -->

    <div id='plotCityByPrice'></div>

    <div class="row" style='width:100%;'>
        <div class="col-md-12">
            <div style='margin-top: 30px; text-align: center;'></div>
            <h2>Airbnb rental properties by rental types and city</h2>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col border">
            </br>
            <div id="plotRentalTypeCount">
            </div>
        </div>
        <div class="col border">
            </br>
            <div id="getRentalPropertiesCountByCity">
            </div>
        </div>
    </div>

    <hr>

</div>
<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}