{% extends "base.html" %}
{% set active_page = "Home" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" />
<div style='margin-top: 30px; text-align: center;'>
  <h1><i>Project - 3</i></h1>
  <h2><u>Airbnb - Data Analysis</u></h2>
<!-- </div>
<div style='margin-bottom: 30px;'></div> -->
<!-- <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: right;"> -->
  <h3><u>TEAM MEMBERS:</u> </h3>
  <h3>Ling Lu</h3>
  <h3>Vi</h3>
  <h3>Raheem Paxton</h3>
  <h3>Swapna Subbagari</h3>
</p>
</div>
<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}
